// Header.scss
.header {
  .logo {
    flex: 1;
  }

  .search {
    position: relative;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-left: 0;
    width: 100%;

    .searchIcon {
      padding: 0 8px;
      position: absolute;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .inputBase {
      color: inherit;
      padding: 8px 8px 8px 0;
      width: 100%;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}




